@use "functions" as fnc;
@use "breakpoints" as mix;

.cta-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fnc.rem(600);
    max-height: fnc.rem(534);
    padding-top: fnc.rem(73);
    padding-bottom: fnc.rem(73);

    @include mix.breakpoint-up(large) {
        padding: fnc.rem(96);
        
    }

    &__heading {
        font-size: fnc.rem(27);
        margin-top: 0;
        margin-bottom: fnc.rem(5);
        font-weight: 600;

        @include mix.breakpoint-up(large) {
            font-size: fnc.rem(38);
        }

    }

    &__paragraph {
        color: var(--darkGray);
        line-height: 1.6;
        margin-bottom: fnc.rem(57);

    }

    &__link {
        display: flex;
        align-items: flex-start;
        align-self: flex-start;
        gap: fnc.rem(23);
        text-transform: uppercase;
        letter-spacing: fnc.rem(12);
        font-weight: 600;
        color: var(--black);
         
    }
}
